package-lock.json
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.prettierrc
prettier.config.js
.eslintrc.js
.eslintignore
babel.config.js
*.log
*.md
*.yml
*.yaml
*.json
*.js
*.ts
*.tsx
*.jsx
*.html
*.css
*.scss
*.sass
*.less
*.styl
*.stylus
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.woff
*.woff2
*.ttf
*.eot
*.otf
*.webp
*.mp3
*.mp4
*.webm
*.ogg
*.wav
*.flac
*.aac
